*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1{
    background-color: aqua;
    color: white;
}
/* hover */

h1:hover{
    background-color: blueviolet;
    color: black;
}
/* background property */
body{
    background-color: antiquewhite;
    /* background-attachment: fixed;//very very good property to fixed the image creations  */
}

/* Shadow-property */

body{
    /* text */
    text-shadow: 2px , 2px , 0 , red;
                  |     |     |     |
         horizontal , vertical , blur   , color;

         /*  box shadow */
         uses
         box-shadow

         /* img */
         uses
         filter: drop-shadow(0 0 1px #fff);       
         }

/* pseudo elements */
p::first-letter{ /* by the help of this we do the text decoations */
    text-transform: uppercase;
    font-weight: 300;
}
p::after{
    content: "to something and that will display  i the sites";
}
p::before{
    content: same as uooer case;
}
p::first-letter{

}
p::first-line
{

}
P::selection{

}

/* Column tagss */
 column-count=whatever number we want to give;
 column-rule: 
 column-rule-style:
 column-rule-width:
 column-gap:



/* filter */

/* :-webkit-filter: grayscale(): -> this property used to change any image color to black & white */
/* blur();
brightness(); */
/* constrst(); */
/* opacity(); */


/* Anchor tag  */

/* there are always formatt to use this anchor tags */

a:link;
a:visited;
a:hover;
a:active;

/* to learn this use lvha love huaaa */

/* overflow tag */

overflow:auto; -> the most commonly used thing
overflow:scroll;
overflow:hidden;
Overflow-y:scroll;
overflow-x:scroll;


/* flex */
flex-grow
flex-shrink;
flex-basis;
flex-warp-warp;

/* TRanscation  */
transition-property :width ->tos select where to uses this
transition-duration
transition-delay
transition-timing-function-linear;

/* use scale to zoom in and zoom out */
scale;